<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyl.wms.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.hyl.wms.domain.Role" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
    <collection property="permissionList" ofType="com.hyl.wms.domain.Permission" column="id"
    select="com.hyl.wms.mapper.PermissionMapper.queryByRoleId"/>
    <collection property="menuList" ofType="com.hyl.wms.domain.SystemMenu" column="id"
    select="com.hyl.wms.mapper.SystemMenuMapper.queryByRoleId"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `role`
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.hyl.wms.domain.Role" useGeneratedKeys="true" keyProperty="id" >
    insert into `role` (name, sn)
    values (#{name}, #{sn})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.hyl.wms.domain.Role" >
    update `role`
    set name = #{name},
      sn = #{sn}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, sn
    from `role`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, sn
    from `role`
  </select>

  <select id="queryForCount" resultType="int">
    SELECT COUNT(id) FROM role

  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    SELECT id,name,sn FROM role
    LIMIT #{startIndex},#{pageSize}
  </select>

  <delete id="deleteRelationRoleAndPermission">
    DELETE FROM role_permission WHERE role_id = #{id}
  </delete>


    <insert id="insertRelationRoleAndPermission">
    INSERT INTO role_permission (role_id, permission_id) VALUES (#{rId},#{pId})
  </insert>

  <select id="queryByEmployeeId" resultType="com.hyl.wms.domain.Role">
    SELECT id,name,sn FROM role
    WHERE id in(
      SELECT role_id FROM employee_role
        WHERE employee_id = #{id}
    )
  </select>

  <delete id="deleteRelationRoleAndMenu">
    DELETE FROM role_menu
    WHERE role_id = #{id}
  </delete>

  <insert id="insertRelationRoleAndMenu">
    INSERT INTO role_menu (role_id, menu_id) VALUES (#{rId},#{menuId})
  </insert>

</mapper>